/*
  Print margin for printing.
  Quickstart Printout as PDF from browser
 */
@media print {
    @page {
        margin: 2cm
    }
}

/*
 * Background of logo upper left
 */
.wy-side-nav-search {
    background-color: #e0e0e0;
    color: #000;
}

/*
 * Text of version underneath the logo
 */
.wy-side-nav-search .icon-home {
    color: #000;
}

/*
 * Text of version underneath the logo
 */
.wy-side-nav-search > div.version {
    color: #000;
}

/*
 * Menu Color of inactive entry in nice blue ($nav-background-color)
 */
.wy-nav-side {
    background: #008fc3;
}

/*
 * Text of inactive entry in white according to other whites and font-weight
   according to other menu-entries
 */
.wy-menu-vertical a {
    color: #fcfcfc;
    font-weight: bold;
}

.wy-menu-vertical li.current a {
    color: darkslategray;
}

/*
 * Tip box: BG-Color of title (as in Quickstart)
 */
.rst-content .tip .admonition-title {
    background: #cad400;
}

/*
 * Tip box: BG-Color of content (as in Quickstart)
 */
.rst-content .tip {
    background: #f3f3f3;
}

/*
 * Search box is squared not rounded
 */
.wy-side-nav-search input[type="text"] {
	border-radius: 0px;
}
